body 
{
	font-family:Arial;
	font-size: 101%;
	
}
.ButtonStandard 
{
	color:#f9f9f9;
	font-size: 16px;
	font-weight:bold;
	background-color:#ff4100;
	border:0px;
	cursor: pointer;
}
.EditLizenz
{
	width:300px;
}
#manbackspinner {
background: url('loader.gif') no-repeat;
background-size: 16px 16px;
opacity: .7;
display:none;
filter: alpha(opacity=70);
width: 16px;
height: 16px;
margin: 5px 5px 0;
}
#restorespinner {
background: url('loader.gif') no-repeat;
background-size: 16px 16px;
opacity: .7;
display:none;
filter: alpha(opacity=70);
width: 16px;
height: 16px;
margin: 5px 5px 0;
}
.hinweis {color:red;}